// Navigation Styles here
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    h1 {
        margin: 20px 0;
        padding-left: 2%;
    } // This closes the h1 tag

    nav {
        a {
            text-decoration: none;
            color: black;
            font-size: 1.6rem;
            padding: 0 20px;
        } // This closes the anchor tag
    } // This closes the nav tag
} // This closes the header tag